langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-core
chromadb
pypdf
arxiv
semanticscholar
pymed
requests
curl-cffi
langgraph
pymatgen
ase
mace-torch
chgnet
mp-api
torch
python-dotenv
pytest
